aiohttp_cors>=0.7.0
codespell==2.4.1
coverage>=7.3.1
fnv-hash-fast>=0.5.0
pre-commit==4.3.0
mypy-dev==1.18.0a7
psutil-home-assistant>=0.0.1
pytest>=7.4.3
pytest-asyncio>=0.21.0
pytest-homeassistant-custom-component>=0.13.201
ruff==0.12.12
tomli==2.2.1
tox==4.29.0
